///////////////////////////////////////////////////////////
// Landing                                        (Page) //
///////////////////////////////////////////////////////////

.section {
	&.of-our-place {
		// img { transform: scale(0.5); }
		
		ul {
			display: flex;
			align-items: center;
			flex-flow: wrap;	
		}
	}
}
